<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.uhha.coin.admin.mapper.FStatisticsMapper" >

	<select id="sumRWcoin" resultType="java.math.BigDecimal" parameterType="java.util.Map">
		<![CDATA[select IFNULL(sum(famount),0)
		from f_virtual_capital_operation 
		where ftype = #{ftype} 
		and fstatus = 3
		and fcoinid = #{fcoinid}
		and fupdatetime >= #{beginDate} 
		and fupdatetime <= #{endDate}
		]]>
	</select>
	
	

	
</mapper>