<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.uhha.coin.system.mapper.FSysCoinWalletMapper">

    <resultMap type="FSysCoinWallet" id="FSysCoinWalletResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="coinId"    column="coin_id"    />
        <result property="total"    column="total"    />
        <result property="frozen"    column="frozen"    />
        <result property="borrow"    column="borrow"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
        <result property="version"    column="version"    />
    </resultMap>

    <sql id="selectFSysCoinWalletVo">
        select id, name, coin_id, total, frozen, borrow, gmt_create, gmt_modified, version from f_sys_coin_wallet
    </sql>

    <select id="selectFSysCoinWalletList" parameterType="FSysCoinWallet" resultMap="FSysCoinWalletResult">
        <include refid="selectFSysCoinWalletVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="coinId != null "> and coin_id = #{coinId}</if>
        </where>
    </select>

    <select id="selectFSysCoinWalletById" parameterType="Long" resultMap="FSysCoinWalletResult">
        <include refid="selectFSysCoinWalletVo"/>
        where id = #{id}
    </select>

    <select id="selectFSysCoinWalletByCoinId" parameterType="Integer" resultMap="FSysCoinWalletResult">
        <include refid="selectFSysCoinWalletVo"/>
        where coin_id = #{coinId}
    </select>

    <update id="updateFSysCoinWallet" parameterType="FSysCoinWallet">
        update f_sys_coin_wallet
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="coinId != null">coin_id = #{coinId},</if>
            <if test="total != null">total = #{total},</if>
            <if test="frozen != null">frozen = #{frozen},</if>
            <if test="borrow != null">borrow = #{borrow},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
            version = version +1
        </trim>
        where id = #{id}
    </update>

</mapper>